data/source/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/validated/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/processed/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/warehouse/*.db filter=lfs diff=lfs merge=lfs -text
